/*
    =====================================================
        MODULES
    =====================================================
 */


//LIB
@import "lib/settings";
@import "lib/mixins";


//BASE
@import "base/normalize";
@import "base/general";


//PLUGINS
@import "plugins/animate";
@import "plugins/aos";

//LAYOUT
@import "layout/site";




